* {
  box-sizing: border-box;
}

body {
  font-family: "Cabin", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: space-between;

  align-items: center;
  margin-left: 30px;
  width: 96%;
  height: 100%;
}
.links {
  display: flex;
  width: 310px;
  margin-left: 500px;
  justify-content: space-between;
}
.links a:hover {
  color: aquamarine;
  background-color: white;
  border-radius: 4px;
  font-weight: 600px;
}
span {
  color: aliceblue;
}
nav {
  background-color: black;
  height: 60px;
}
a {
  color: white;
  text-decoration: none;
}

/* section1 */

#section1 {
  padding-top: 80px;
  background-color: #ff4632;
  min-height: 75vh;
}
.button {
  background-color: black;
  color: white;
  border-radius: 20px;
  border: none;
  height: 40px;
  width: 400px;
  margin-bottom: 25px;
  margin-top: 25px;
  letter-spacing: 2px;
  font-weight: 700;
}

.button:hover {
  background-color: white;
  font-weight: 700;
  color: #1ed760;
  border: none;
}

.title2 {
  margin-top: 20px;
  font-size: 50px;
}
.text {
  width: 500px;
  margin-left: 20px;
}
#section1 .container2 {
  padding: 80px 0;
}

.container2 {
  max-width: 1140px;
  margin: 0 auto;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.note {
  font-size: 13px;
  margin: 32px 0;
}

/* section2 */

#section2 {
  padding-top: 80px;
  background-color: #cb1582;
  min-height: 75vh;
}

#section2 .text div {
  color: #a5ffef;
}

#section2 button {
  color: #cb1582;
  background-color: #a5ffef;
}

.shard {
  border: 2px solid red;
  width: 400px;
  height: 400px;
}

.title1-2 {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 32px;
}

.title2-2 {
  font-size: 64px;
  font-weight: 600;
  letter-spacing: -0.04em;
}

/* section3 */
#section3 {
  padding-top: 80px;
  background-image: url(/images/LiE_circles.svg);
  background-size: auto 100%;
  color: #1ed760;
  background-color: #2d46b9;
  background-position: right center;
  background-repeat: no-repeat;
  min-height: 606px;
}

/* section footer */

footer {
  background: black;
  padding-top: 80px;
  padding-bottom: 50px;
}

footer .container {
  display: flex;
  justify-content: space-around;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
